/venv/
/.idea/
/module_1_SQL_basics/cars.csv
/module_2_advanced_SQL/sprint2_dump.sql
/module_2_advanced_SQL/sprint2_sql_dump_text.sql
/module_3_server_programming_on_SQL/bike_app_clear.dump
/module_3_server_programming_on_SQL/practicum_sql_for_dev_velo_vzhik.pdf
/module_3_server_programming_on_SQL/practicum_sql_for_dev_smily_dog.pdf
/module_3_server_programming_on_SQL/m1_less_4_11.dump
/module_3_server_programming_on_SQL/practicum_sql_for_dev_giper_hiper.pdf
/module_3_server_programming_on_SQL/practicum_sql_for_dev_project_3.sql
/module_4_ORM_and_query_optimization/archive.sql
/module_4_ORM_and_query_optimization/online_store.sql
/module_4_ORM_and_query_optimization/practicum_sql_for_dev_online_store.pdf
/module_4_ORM_and_query_optimization/practicum_sql_for_dev_tools_shop.pdf
/module_4_ORM_and_query_optimization/index_practice.sql
/module_4_ORM_and_query_optimization/db_query_plan.sql
/module_4_ORM_and_query_optimization/practicum_sql_for_dev_happy_vet.pdf
/module_4_ORM_and_query_optimization/sql_append_data.sql
/module_4_ORM_and_query_optimization/project_4.sql
/module_4_ORM_and_query_optimization/orders_stat.sql
/module_4_ORM_and_query_optimization/project_4_part2.sql
/module_4_ORM_and_query_optimization/user_scripts_pr4.sql
/module_4_ORM_and_query_optimization/comments.txt
